@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variabile globale */
:root {
  --primary-color: #2196F3;
  --secondary-color: #0056b3;
  --text-color: #333;
  --background-color: #fff;
  --font-family: 'Roboto', sans-serif;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
  max-width: 100%;
}

/* Container general */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

/* Logo */
.nav_logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #333;
  
}

.nav_logo span {
  color: #0056b3;
}

/* Navigație */
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
}

/* Buton burger */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
 
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

/* Lista de navigație */
.nav-list,
.nav-contacts {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-weight: 500;
}

.nav-list a,
.nav-contacts a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.nav-list a:hover,
.nav-contacts a:hover {
  color: #0056b3;
}

/* Aliniere contact pe margine */
.nav-contacts {
  margin-left: auto;
}

/* Hero styling*/

.hero {
  background-image: url("../images/Img.webp");
    /* Calea către imagine */
    background-size: cover;
    /* Ajustează imaginea să acopere întregul element */
    background-position: center;
    /* Centrează imaginea */
    background-repeat: no-repeat;
    /* Nu repeta imaginea */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease-in-out;
}

.hero-btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.open {
  display: flex;
  opacity: 1;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  /* Fundal ușor transparent */
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.close-btn:hover {
  background: rgba(0, 0, 0, 0.2);
  /* Fundal mai închis la hover */
  color: #fff;
}

.close-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* Form */
.order-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-form label {
  font-weight: 600;
  text-align: left;
}

.order-form input,
.order-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.order-form .submit-btn {
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  /* Colțuri rotunjite */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-form .submit-btn:hover {
  background: var(--secondary-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  
}

.order-form .submit-btn:active {
  background: #00408d;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.order-form .submit-btn:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(33, 150, 243, 0.6);
}
/* Our Skills */

.our-skills {
  display: flex;
  margin-top:  160px;
  gap: 20px;
}

.our-skills-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

h4 {
  font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    margin-top:  20px;
    padding: 1rem;
}

.our-skills p {
  font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
    margin-top: 20px;
}

/* What we do styling */

h2 {
  font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    
}

.what-we-do-list {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}

.what-we-do-list img {
  text-shadow: #000;
}



/*Our team styling*/
.our-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 30px;
}

.our-team-list li {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.our-team-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.our-team-list img {
  width: 180px;
  height: 180px;

  /* Face imaginea rotundă */
  object-fit: cover;
}

.our-team span {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-top: 15px;
  display: block;
}

.our-team p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  margin-top: 5px;
}

.our-team .social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}

.social-icons a {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-size: 18px;
  background: rgba(0, 86, 179, 0.1);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.social-icons a:hover {
  background: var(--secondary-color);
  color: white;
  transform: scale(1.1);
}

/* Regular Clients Styling */

.our-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}

.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 10px;

 
}

.our-clients-list li {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.our-clients li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}


/* Footer */

.footer {
  background-color: #2F303A;
  color: #fff;
  height: 261px;
  /* Fixăm înălțimea la 261px */
  display: flex;
  align-items: center;
  /* Centrare verticală */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* Distribuire uniformă pe linie */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* Logo & Contact */
.footer-logo {
  display: flex;
  flex-direction: column;
  max-width: 300px;

}

.footer-logo .nav_logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.footer-contacts {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-contacts a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.footer-contacts a:hover {
  color: var(--secondary-color);
}

/* Social Media + Subscribe (Așezate pe aceeași linie) */
.footer-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Social Icons */
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4rem;
}

.footer-social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}
 .footer-social-icons li {
    list-style: none;
 }
.footer-social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-size: 18px;
  background: #FFFFFF1A;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.footer-social-icons a:hover {
  background: var(--secondary-color);
  color: white;
  transform: scale(1.1);
}

/* Subscribe Section */
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe form {
  display: flex;
  gap: 10px;
}

.footer-subscribe input {
  padding: 10px;
  width: 358px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background: #2F303A;
  border: 1px solid #FFFFFF4D;
  box-shadow: 0px 4px 4px 0px #00000026;
 

}

.footer-subscribe button {
  background: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 4px 4px 0px #00000026;

}

.footer-subscribe button:hover {
  background: var(--secondary-color);
}



/* Portfolio Section Styling */
.buttons {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

.buttons button {
  background: #F5F4FA;
  color: #212121;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.buttons button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}
.portfolio-projects {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.portfolio-projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  max-width: 1200px;
}

.card {
  position: relative;
  overflow: hidden;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 15px;
  background: white;
  text-align: center;
  position: relative;
  /* Asigură suprapunerea corectă */
  z-index: 1;
  /* Menține textul vizibil */
}

.card-content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.card-content p {
  font-size: 14px;
  color: #757575;
}

/* Overlay peste h3 */
.overlay {
  position: absolute;
  top: 100%;
  /* Inițial este poziționat în afara cardului */
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  /* Fundal albastru semi-transparent */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  /* Ascuns implicit */
  transition: opacity 400ms ease-in-out, top 400ms ease-in-out;
  /* Tranziție mai lină */
}

.card:hover .overlay {
  opacity: 1;
  /* Overlay-ul devine vizibil */
  top: 0;
  /* Se repoziționează pentru a acoperi întreaga imagine */
}


/* Tablete (ecrane medii) */
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
  }

  .our-skills {
    flex-direction: column;
    align-items: center;
  }

  .our-team-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-projects-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }
}

/* Mobile (ecrane mici) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.open {
    display: flex;
  }

  .hero {
    height: auto;
    padding: 50px 20px;
    text-align: center;
  }

  h1 {
    font-size: 28px;
  }

  .hero-btn {
    width: 100%;
    max-width: 250px;
  }

  .what-we-do-list {
    flex-direction: column;
    align-items: center;
  }

  .our-team-list li {
    width: 90%;
  }

  .our-clients-list {
    flex-direction: column;
  }

  .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-subscribe input {
    width: 100%;
  }
}

